.Container-Div  {
  height: 100%;
  width: 100%;
  nav {
    height: 10vh;
    width: 100vw;
  }
  main {
    height: 90vh;
    width: 100vw;
  }
  .centered-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Component-Status{
    height: 50vh;
    width: 75vw;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 1em;
    text-align: center;
  }
}
