.EventList {
  height: 95vh;
}

.EventList-Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  margin-bottom: 1em;
  .EventList-Card-Image {
    height:200px;
  }
  .EventList-Card-Inner-Div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .EventList-Card-Buttons{
      display: flex;
      justify-content: space-around;
    }
  }

}
