.EventList {
  height: 95vh; }

.EventList-Card {
  height: 85vh;
  margin-bottom: 1em; }
  .EventList-Card .EventList-Card-Image {
    height: 200px; }
  .EventList-Card .EventList-Card-Inner-Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .EventList-Card .EventList-Card-Inner-Div .EventList-Card-Buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 50px; }
